# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database

POSTGRES_URL="postgres://default:aN7qFwBCYHL4@ep-proud-forest-31946632-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:aN7qFwBCYHL4@ep-proud-forest-31946632-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:aN7qFwBCYHL4@ep-proud-forest-31946632.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-proud-forest-31946632-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="aN7qFwBCYHL4"
POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth